{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('style/home/index.css')}}">
{% endblock %}
{% block body %}
{% include "partials/flashes.html.twig" %}
<div class="level_container">
			<a class="form" href="{{path('home.form.show' , {formName:'create-event'})}}">Créer un cours</a>
			<a class="form" href="{{path('home.form.show' , {formName:'create-funfact'})}}">Créer une annecdote</a>
		</div>
	{# {{form(eventForm)}} #}
{% endblock %}
